@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
  margin:0;
  padding: 0;
}

header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 55px 0px;
}

header h1#titulo{
  font-size: 35pt;
  font-family: 'Passion One';
}

header h2 {
  font-size: 18pt;
  font-family: 50;
}

header h2 a {
  color:white;
  text-decoration: none;
  font-weight: 900;
  cursor: pointer;
}

section {
  padding: 90px 0px 90px 20px;
}

.secbr {
  background-size: white;
}

.textosec {
  font-family: Sriracha;
  max-width: 180px;
  font-size: 15pt;
}

.textosecpr {
  background-color: #555666A3;
  padding: 5px;
  color: white;
}

.paralax {
  background-position: right center;
  background-size: cover;
  background-attachment: fixed;
}

section#sec2 {
  background-image: url('imgs/background001.jpg');
}


#sec4 {
  background-image: url('imgs/background002.jpg');
}

footer {
  text-align: center;
  background-color: black;
  padding: 15px 0px;
  color: white;
  font-size: 14pt;
}

footer a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-weight: 800;
}
